/* 
  * layout.css 
    - header 및 footer 등 다른 페이지에서도 공통으로 사용하는 layout css 적용
*/

/* header */
header {position: fixed; width: 100%; margin: 0 auto; padding: 50px 30px 0; box-sizing: border-box; background: rgb(238, 226, 255);}
header::before {content: ''; position: absolute; left: 0; top: 0; width: 100%;height: 30px;margin: 0 auto; background: rgb(161, 124, 214);}
header .top-util {position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 100%; max-width: 1180px; height: 30px; line-height: 30px;}
header .top-util .sns-area {float: left;}
header .top-util .sns-area ul {}
header .top-util .sns-area ul>li {display: inline-block; vertical-align: top;}
header .top-util .sns-area ul>li>a {}
header .top-util .sns-area ul>li>a>img {vertical-align: middle;}
header .top-util .util-nav {float: right;}
header .top-util .util-nav>a {display: inline-block;}
header .logo {display: block; width: 200px; height: 40px; margin: 10px auto; background: rgb(188, 231, 188);}
header .gnb-nav {width: 100%; height: 48px; line-height: 48px;}
header .gnb-nav ul {font-size: 0;}
header .gnb-nav ul>li {display: inline-block; width: 12.5%; vertical-align: top; box-sizing: border-box; text-align: center;}
header .gnb-nav ul>li>a {display: block; color: #222; font-size: 18px; text-decoration: none;}