/* 
  * layout.css 
    - header 및 footer 등 다른 페이지에서도 공통으로 사용하는 layout css 적용
*/

/* header */
header {position: fixed; width: 100%; margin: 0 auto; padding: 35px 30px 0; box-sizing: border-box; background: #fff; z-index: 99;}
header::before {content: ''; position: absolute; left: 0; top: 0; width: 100%;height: 35px;margin: 0 auto; background:#69b848;}
header .top-util {position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 100%; max-width: 1180px; height: 35px; line-height: 35px;}
header .top-util .sns-area {float: left;}
header .top-util .sns-area ul>li {float: left; margin-left: 10px; box-sizing: border-box;}
header .top-util .sns-area ul>li>a>img {display: inline-block; vertical-align: middle;}
header .top-util .util-nav {float: right;}
header .top-util .util-nav ul>li {float: left; box-sizing: border-box; text-align: center;}
header .top-util .util-nav ul>li>a {display: block; font-size: 14px; color: #fff;}
header .top-util .util-nav ul>li>a>img {display: inline-block; vertical-align: middle;}
header .top-util .util-nav ul>li:not(:first-child)>a {width: 35px; margin-left: 1px; background: #11803f;}
header .top-util .util-nav ul>li>.btn-home-index {position: relative; margin-right: 24px; padding-right: 14px;}
header .top-util .util-nav ul>li>.btn-home-index::before {content:''; position: absolute; top: 14px; right: 0; width: 4px; height: 7px; background:url(../../images/layout/ico/ico_arrR_s_white.png) no-repeat center center;}
header .logo {display: block; width: 200px; height: 40px; margin: 20px auto;}
header .gnb-nav {width: 100%; max-width: 1180px; height: 48px; margin: 0 auto; line-height: 48px; border-top: 1px solid #eaeaea; box-sizing: border-box;}
header .gnb-nav ul>li {float: left; width: 12.5%; box-sizing: border-box; text-align: center;}
header .gnb-nav ul>li>a {display: block; color: #222; font-size: 18px; font-weight: 500;}

/* main */
#container {padding-top: 164px;}
#container .swiper-container {position: relative; width: 100%; height: 100%;}
#container .swiper-container .swiper-wrapper {}
#container .swiper-container .swiper-wrapper .swiper-slide {}
#container .swiper-container .swiper-wrapper .swiper-slide img {display: block; width: 100%; height: 570px;}
#container .swiper-pagination {position: absolute; top: 100px; left: 355px; width: auto; z-index: 99;}
#container .swiper-pagination-bullet {position: relative; width: 55px; height: 20px; margin: 0;padding-bottom: 30px; line-height: 20px; text-align: left; font-size: 24px; font-weight: 400; color: #fff; opacity: 0.5; background: transparent;}
#container .swiper-pagination-bullet::before {content:''; display: block; position: absolute; left: 0; bottom: 0; width: 100%; height: 1px; background: #fff;}
#container .swiper-pagination-bullet-active {opacity: 1;}
